*{
    background-color: lightblue;
}
.s1{
    color:yellow;
}
#s2{
    color:green;
}
button{
    text-decoration: double;
}
img{
    margin: 40px;
    border: 5px solid black;
    padding: 5px;
    
}
ul,li{
    background-color: aqua;
    list-style-type:lower-roman;
    width: 40%;
    height: 100%;
   
}
